* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
  color: #b0bec5;
}

window#waybar {
  background: #0f1419;
}

#workspaces button label {
  color: #b0bec5;
  padding: 0 10px;
}

#workspaces button.active label {
  color: #0f1419;
}

#workspaces button.active {
  background: #00d3d0;
}

#clock, #battery, #pulseaudio, #tray, #cpu, #memory, #backlight, #network, #bluetooth, #custom-files {
  padding: 0 10px;
  margin: 0 5px;
}

#custom-files { color: #005f87; border-bottom: 3px solid #005f87; }
#cpu { color: #007bb5; border-bottom: 3px solid #007bb5; }
#memory { color: #0097a7; border-bottom: 3px solid #0097a7; }
#backlight { color: #00acc1; border-bottom: 3px solid #00acc1; }
#battery { color: #26c6da; border-bottom: 3px solid #26c6da; }
#network { color: #4dd0e1; border-bottom: 3px solid #4dd0e1; }
#bluetooth { color: #80deea; border-bottom: 3px solid #80deea; }
#pulseaudio { color: #00d3d0; border-bottom: 3px solid #00d3d0; }
#pulseaudio.muted { color: #d32f2f; border-bottom: 3px solid #d32f2f; }
#clock { color: #00e5ff; border-bottom: 3px solid #00e5ff; }
#tray { color: #18ffff; border-bottom: 3px solid #18ffff; }
